*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
p
 {
  margin: 0;
}

h1 {
    font-weight: 200;
}

body {
    text-rendering: optimizeSpeed;
    line-height: 1.5;
    font-family: 'Source Code Pro', monospace;
    color: White;
    font-size: 16px;
}

input,
button 
    {
    font: inherit;
}


.page-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(115deg, #3e1f47 0%, rgba(33,47,69,1) 80%, rgba(27,58,75,1) 100%);
}

.component {
    width: 90%;
    max-width: 400px;
    background-color: rgba(0, 0, 0, .3);
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 20px 30px;
}

header {
    padding: 30px 40px;
    border-bottom:1px solid #006466;
}

.form {
   padding: 30px 40px; 
}

.form-control {
    position: relative;
    margin-bottom: 10px;
    padding-bottom: 25px;
    position: relative;
}

.form-control label {
    display: inline-block;
    margin-bottom: 5px;
}


input {
    display: block;
    border:3px inset #006466;
    border-radius: 2px;
    width: 100%;
    padding: 3px 10px;  
}

.fa-solid {
    position: absolute;
    top: 40px;
    right: 10px;
}

.fa-circle-check {
    visibility: hidden;
    color:#006466;
}

.fa-circle-exclamation {
    visibility: hidden;
    color: #D72638;
}

.error-message {
    /* visibility: hidden; */
    position: absolute;
    bottom: 0;
    left: 0;
    color: #D72638; /* Crimson Red*/
}


#sign-up-btn {
  margin: 0 auto;
  background: #006466 ;
  border: 2px solid #006466; 
  padding: 7px 20px;
  border-radius: 3px;
  /* box-shadow:  rgba(0, 0, 0, 0.2) 0 15px 30px -5px; */
  display: block;
  cursor: pointer;
  color: white;
  transition: all 300ms;
}

/* Active States */
#sign-up-btn:hover {
    background: #1B3A4B;
    border: 2px solid #1B3A4B; 
}
input:focus {
    outline:3px solid #006466;
    border: 3px inset #1B3A4B; 
}

#sign-up-btn:focus {
      outline: 2px solid white; 
           
}
#sign-up-btn:active {
    outline: 2px solid #1B3A4B;;
    border: 2px inset #006466;
}

.success input {
    outline:3px solid #006466;
    border: 3px inset #1B3A4B; 
}

.error input {
    outline:3px solid #D72638;
    border: 3px inset #1B3A4B; 
}

.success .fa-circle-check {
    visibility: visible;
}

.error .fa-circle-exclamation {
    visibility: visible;
}
